<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manage.hospital.hmapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <activity android:name=".ui.DoctorMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.manage.hospital.hmapp.ui.Registration"
            android:label="Registration" >
        </activity>

        <activity
            android:name="com.manage.hospital.hmapp.ui.DoctorRegistration"
            android:label="Registration For Doctor" >
        </activity>

        <activity
            android:name="com.manage.hospital.hmapp.ui.PatientRegistration"
            android:label="Registration For Patient" >
        </activity>

        <activity
            android:name="com.manage.hospital.hmapp.ui.LoginActivity"
            android:label="Login">
        </activity>

        <activity
            android:name="com.manage.hospital.hmapp.ui.HomeActivity"
            android:label="Opening Page" >
        </activity>
        <activity
            android:name="com.manage.hospital.hmapp.ui.AppointmentActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.manage.hospital.hmapp.ui.AppointmentDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.manage.hospital.hmapp.ui.PatientActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.manage.hospital.hmapp.ui.PatientMainActivity" />
        <activity
            android:name="com.manage.hospital.hmapp.ui.LauncherActivity" />
        <activity
            android:name="com.manage.hospital.hmapp.ui.PatientSourceActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.manage.hospital.hmapp.ui.FitbitActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.manage.hospital.hmapp.ui.DoctorActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.manage.hospital.hmapp.ui.ReminderMainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.manage.hospital.hmapp.ui.NewTaskActivity"
            android:label="@string/title_activity_new_task"
            android:parentActivityName="com.manage.hospital.hmapp.ui.ReminderMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.manage.hospital.hmapp.ui.ReminderMainActivity" />
        </activity>
        <activity
            android:name="com.manage.hospital.hmapp.ui.EditViewActivity"
            android:label="@string/title_activity_edit_task"
            android:parentActivityName="com.manage.hospital.hmapp.ui.EditViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.manage.hospital.hmapp.ui.ReminderMainActivity" />
        </activity>
        <activity
            android:name="com.manage.hospital.hmapp.ui.ViewTaskActivity"
            android:label="@string/title_activity_view_task"
            android:parentActivityName="com.manage.hospital.hmapp.ui.ReminderMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.manage.hospital.hmapp.ui.ReminderMainActivity" />
        </activity>
        <activity
            android:name="com.manage.hospital.hmapp.ui.AlarmActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".ui.Alarm_Receiver" />

        <service
            android:name="com.manage.hospital.hmapp.ui.RingtonePlayingService"
            android:enabled="true"></service>

        <activity android:name=".Extras.fitbit.FitbitTokenResponse"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="hospapp" android:host="callbackresponse"/>
            </intent-filter>
        </activity>

    </application>

</manifest>